node_modules
chaveApi.txt

banco de dados mongoDB
usuario: alissonaraujodev
senha: IE0OKf80hLz3sfto

mongodb+srv://alissonaraujodev:IE0OKf80hLz3sfto@cluster0.mn7sn.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0